/* CSS Document */
/* ===================== Responsive CSS ======================*/
/* Responsive for device less than 360px */
@media screen and (max-width: 359px) {
  /* Header */
  header {
    position: fixed;
    width: 100%; }
  nav {
    height: 40px; }
  nav h1 {
    padding-top: 8px; }
  nav h1 a {
    font-size: 12pt;
    letter-spacing: 4px; }
  /* Breadcrumb */
  #breadcrumb {
    width: 100%; }
  /* Map */
  #map-container {
    padding-top: 40px; }
  #map {
    height: 250px; }
  /* Home Page */
  .filter-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #restaurants-list {
    width: 100%;
    padding: inherit;
    padding-bottom: 10px; }
  #restaurants-list .restaurant-img {
    height: auto; }
  #restaurants-list li {
    height: 360px; }
  #restaurants-list li h1 {
    font-size: 12.5pt; }
  /* Restaurant Details */
  .inside #map-container {
    width: 100%;
    height: 250px;
    position: relative;
    padding-top: 0; }
  #restaurant-container,
  #reviews-container {
    width: 95%;
    padding: inherit; }
  #restaurant-img {
    width: 95%;
    padding: 0 20px 0; }
  #restaurant-address {
    font-size: 10pt;
    padding-left: 10px; }
  #restaurant-cuisine {
    width: 95%;
    margin: auto; }
  #restaurant-hours {
    margin: auto; }
  #restaurant-name {
    font-size: 18pt;
    padding-top: 70px; }
  .rate{
    display: table-cell;
  }
  #reviews-container {
    padding-bottom: 80px; }
  #reviews-list {
    width: 90%;
    margin: auto; } }

/* Responsive for device from 360px */
@media screen and (min-width: 360px) {
  /* Header */
  header {
    position: fixed;
    width: 100%; }
  nav {
    height: 50px; }
  nav h1 {
    padding-top: 8px; }
  nav h1 a {
    font-size: 16pt;
    letter-spacing: 4px; }
  /* Breadcrumb */
  #breadcrumb {
    width: 100%; }
  /* Map */
  #map-container {
    padding-top: 50px; }
  #map {
    height: 250px; }
  /* Home Page */
  .filter-options h2 {
    text-align: left; }
  .filter-options select {
    width: 165px; }
  #restaurants-list {
    width: 100%;
    padding: inherit;
    padding-bottom: 10px; }
  #restaurants-list .restaurant-img {
    height: auto; }
  #restaurants-list li {
    height: 420px; }
  #restaurants-list li h1 {
    font-size: 16pt;
    margin: 10px 0 10px; }
  #restaurants-list li a {
    margin: 10px 0 0; }
  #restaurants-list li p {
    font-size: 1.2em; }
  /* Restaurant Details */
  .inside #map-container {
    width: 100%;
    height: 250px;
    position: relative;
    padding-top: 0;
    margin-top: 20px; }
  .inside footer {
    width: 100%; }
  #restaurant-container,
  #reviews-container {
    width: 95%;
    padding: inherit; }
  #restaurant-img {
    width: 95%;
    padding: 0 20px 0; }
  #restaurant-address {
    padding-left: 32px;
    font-size: 14px; }
  #restaurant-cuisine {
    width: 95%;
    margin: auto; }
  #restaurant-hours {
    margin: auto; }
  #restaurant-name {
    font-size: 20pt;
    padding-top: 80px;
    text-align: center; }
  .rate{
    display: table-cell;
  }
  #reviews-container {
    padding-bottom: 80px; }
  #reviews-container h2 {
    padding-left: 28px; }
  #reviews-list {
    width: 90%;
    margin: auto; }
  #reviews-list li p:nth-child(1) {
    font-size: 12pt; }
  #reviews-list li p:nth-child(4) {
    font-size: 10.5pt; } }

/* Responsive Filtering for device between 360px */
@media screen and (min-width: 360px) {
  /* Home Page */
  .filter-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

/* Responsive Filtering for device between 360px */
@media screen and (min-width: 460px) {
  /* Home Page */
  #restaurants-list li {
    width: calc(100% / 2);
    padding: 0 30px 65px;
    margin: 10px auto 10px; } }

/* Responsive for device from 480px */
@media screen and (min-width: 480px) {
  /* Home Page */
  .filter-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #restaurants-list .restaurant-img {
    width: 100%;
    height: auto; }
  /* Restaurant Details */
  #restaurant-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #333333; }
  #restaurant-name {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 30px 0 15px;
    -webkit-transform: translateX(8%);
            transform: translateX(8%); }
  #restaurant-cuisine {
    margin: 10px 0 20px; }
  #restaurant-fav {
    margin-top: 156px;
    margin-left: -195px;
  }
  #reviews-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%; }
  #reviews-container h4 {
    text-align: center; } }

/* Responsive for device from 650px */
@media screen and (min-width: 650px) {
  /* Home Page */
  #restaurants-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  /* Restaurant Details */
  #restaurant-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap; }
  #restaurant-name {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    text-align: center;
    width: 100%;
    -webkit-transform: translate(0);
            transform: translate(0); }
  #restaurant-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 55%;
    padding: 0 10px 0; }
  #restaurant-hours {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 40%;
    height: 270px;
    margin: auto; }
  #restaurant-cuisine {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 5px auto;
    width: 80%;
    font-size: 14pt; }
  #restaurant-address {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    font-size: 13pt;
    margin: 0 auto 0; }
  #restaurant-fav {
    margin-top: -72px;
    margin-left: 30px;
  }
  #reviews-container h2 {
    text-align: center;
    padding-left: 0; } }

/*Responsive for device from 720px */
@media screen and (min-width: 720px) {
  /* Home Page */
  #map {
    width: 100%; }
  #restaurants-list li {
    width: calc(100% / 3);
    padding: 0 30px 65px;
    margin: 10px auto 10px; }
  #restaurants-list li h1 {
    font-size: 17pt; }
  #restaurants-list li p {
    font-size: 1.4em; }
  /* Restaurant Details */
  .inside #map-container {
    position: absolute;
    right: 0;
    margin: 85px 15px 0;
    padding-right: 0;
    border: 2px solid #b8daf7; }
  #restaurant-container {
    width: 100%;
    padding-left: 0; }
  .inside #map-container,
  #restaurant-img {
    width: 45%;
    height: 300px; }
  #restaurant-fav {
    margin-top: -230px;
    margin-left: 30px;
  }
  #restaurant-img {
    padding: 15px; }
  #restaurant-name {
    text-align: center; }
  #restaurant-address {
    width: 40%;
    padding-left: 20px; }
  #restaurant-hours {
    width: 80%;
    margin: 10px auto;
    text-align: end;
    border: 2px solid #e8e2e2f7; } }

/* Responsive for device from 1000px */
@media screen and (min-width: 1000px) {
  /* Home Page */
  #restaurants-list li {
    height: auto;
    width: calc(100% / 4); }
  /* Restaurant Details */
  #reviews-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    width: 100%; }
  #reviews-list li {
    width: calc((100% - 40px) / 2);
    margin: 10px auto 10px; } }

/* Responsive for device from 1180px */
@media screen and (min-width: 1180px) {
  /* Header */
  nav {
    max-width: 1180px; }
  nav h1 a {
    font-size: 20pt; }
  /* Body */
  body {
    background-color: #5f5d5d;
    max-width: 1180px;
    margin: 0 auto;
    border: 5px solid #fbf5f5f7; }
  /* Breadcrumb */
  #breadcrumb {
    max-width: 1139px;
    padding-right: 0; }
  #breadcrumb li {
    font-size: 13pt; } }
